

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:visited {
		color: #ffffff;
	}

a:visited{
	color: white;
}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #ffffff;
				}
                #main-content {
                    background: white;
                    width: 90%;
                    max-width: 800px;
                    margin: 20px auto;
                    box-shadow: 0 0 10px rgba(0,0,0,.1);
                }
                
                    #main-content header,
                    #main-content .content {
                        padding: 40px;
                    }
                    #main-header {
                        background: #333;
                        color: white;
                        height: 80px;
                        
                        width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
                        left: 0; /* Posicionamos la cabecera al lado izquierdo */
                        top: 0; /* Posicionamos la cabecera pegada arriba */
                        position: fixed; /* Hacemos que la cabecera tenga una posición fija */
                    }


/*Web*/

html{
	font-family: Arial;
	
}

.scale:hover{
	transform:scale(1.1);
}

.scale {
	
	transition: all 0.3s ease-in-out;
}

.Title{

	font-size:50px;
	animation: fadein 0.3s; 
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    50%{
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
}

#NB{
	color: black;
	text-decoration: none;
}